<p> Olá, <strong>{{ student }}</strong>, sua dúvida foi respondida por um de nossos instrutores, <strong><a href="#" target="blank">clique aqui</a></strong> para acessar a página</p>
<br />
<p><strong>Pergunta: </strong>{{ question }}</p>
<br />
<p><strong>Resposta: </strong>{{ answer }}</p>
<br />
<br />
<p>Obrigado</p>
